<!DOCTYPE HTML>
<html>
	<head>
		<title>Carsbg</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'css/results.css' %}" />
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
		
	</head>
	<body>
		{% block content %}
     	{% endblock %}

     	{% load staticfiles %}
     	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
     	<script src="{% static 'js/main.js' %}" type="text/javascript"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
	</body>
</html>