<!DOCTYPE HTML>
<html>
	<head>
		<title>Carsbg</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'css/results.css' %}" />
	</head>
	<body>

  		
  		
		{% block content %}
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  		<script src="{% static 'js/main.js' %}"></script>
  		<!-- изобщо не ги зарежда тея.... -->
     	{% endblock %}

     	
	</body>
</html>