{% extends "header.html" %}

{% block content %}
	 <a href="/service/"><button>Добави обект</button></a><br>
     <form action=/searchService/ method="post" accept-charset="utf-8">
    	<label for="city"></label><input type="text" name="city"  id="city" autocomplete="off" /><br>
    	<select name='type' id='typeOfSearch' value='Търси:'>
            <option type='text' name="service"  id="service" value='service'>Сервизи</option>
            <option type='text' name="cardealer"  id="cardealer" value='cardealer'>Автокъщи</option>
    	</select>
    	<p><input type="submit" value="Търси" id="submit"></p>
    </form>


{% endblock %}
