#navbar {
  overflow: hidden;
  background: #050507;

}

#navbar a {
  font-family: 'Montserrat', sans-serif;
  float: right;
  margin: 1em;
  color: #f2f2f2;
  text-decoration: none;
}

#content p {
  font-family: 'Montserrat', sans-serif;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + #content {
  padding-top: 102px;
}

#search input[type=text] {
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 1em;
  width: 60vw;
  border: 1px solid #ccc;
}

.result{
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 1em;
  width: 60vw;
  border: 1px solid #ccc;
}

.result img {
  max-width: 15%;
  height: auto;
  margin: 1em;
}

.result p {
  float: right;
  margin: 1em;
}

@media screen and (max-width: 800px) {
  .result, #search input[type=text] {
    margin: 0 0 0 0;
    width: 100%;
    margin-bottom: 1em;
  }
}

<style>
.checked {
    color: orange;
}
 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 20%;
  margin: 0;
  padding: 0;
}
