/*TODO: After having scrolled, elements in bg-1 go up slightly?!*/

body, html {
  height: 100%;
  margin: 0;
}


#navbar {
  overflow: hidden;
  background: #050507;
  opacity: 0.9;
  margin-top: 0;
}

#navbar a {
  font-family: 'Montserrat', sans-serif;
  float: right;
  padding: 1em 1em .8em 1em;
  color: #f2f2f2;
  text-decoration: none;
  font-size: .8em;
}

#navbar p {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 1em;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1em;
}

#navbar a:hover {
  color: #c4c4c4;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
}

#content p {
  font-family: 'Montserrat', sans-serif;
  margin-left: 20vw;
  margin-right: 20vw;
  width: 60vw;
}

#content h1 {
  position: absolute;
  left: 0;
  top: 20%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5em;
  text-align: center;
}

.wrap {
  width: 40%;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content .search-container {
  width: 100%;
  position: relative
}

#content .search-container input {
  float: left;
  width: 100%;
  border: 3px solid #474747;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

#content .search-container button {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #474747;
  background: #474747;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

#bg-1 {
  background-image: url('/static/images/bg-1.jpg');
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 0;
}

#footer {
  height: 280px;
  background: #050507;
  width: 100%;
}

#social-icons {
  text-align: center;
  padding-top: 50px;
}

#social-icons img {
  width: 48px;
  padding: 12px;
}

#search-container {
  margin-left: 20vw;
  margin-right: 20vw;
  width: 60vw;
  margin-top: 0;
  padding-bottom: 10vh;
}

#search input[type=text] {
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 1em;
  width: 60vw;
  border: none;
}

.result {
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 1em;
  width: 60vw;
  border: 1px solid #ccc;
}

.result img {
  max-width: 15%;
  height: auto;
  margin: 1em;
}

.result p {
  float: right;
  margin: 1em;
}

@media screen and (max-width: 800px) {
  .result, #content p {
    margin: 0 0 0 0;
    width: 100%;
    margin-bottom: 1em;
  }

  #content h1 {
  	font-family: 'Montserrat', sans-serif;
  	font-size: 2em;
  	text-align: center;
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
  }

  #content .wrap {
  	width:70%;
  	padding-right: 10vw;
  }

}

<style>
.checked {
    color: orange;
}
 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 20%;
  margin: 0;
  padding: 0;
}
