{% extends "base.html" %}
{% block content %}
    <style>
        #content {
            padding-top: 0;
        }
    </style>
    

    <!-- грозно ама баца -->
    <div id="whole-screen-bg-1">
        <h1 id="slogan">НАМЕРЕТЕ СЕРВИЗ<br>БЛИЗО ДО ВАС</h1>
        <div class="wrap">
            {% if flagForBase %}
                <form action=/searchService/ method="post" accept-charset="utf-8">
                    <div class="input-group mb-3">
                        <input style="height: 6vh;" type="glowinginwhite" name="search" class="form-control" placeholder="Търсете по град, улица или име на обекта" aria-describedby="basic-addon2" id = "search">
                        <div class="input-group-append">
                            <button type="submit" class="input-group-text" id="basic-addon2"><img id="glyph" src="/static/images/si-glyph-magnifier.svg"></button>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
    <div class="col">
        <div class="row md-4"> 
            <div id="whole-screen-bg-2">
                <div class="standart-container">
                    <p class="home-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nunc tellus, eleifend non enim vitae, dapibus vestibulum urna. Cras et libero ut nisl malesuada interdum sed ut nisi. Donec vehicula bibendum elit a bibendum. Praesent ornare eros
                        in erat vehicula, non pellentesque metus tincidunt. Fusce lorem neque, tempor molestie tortor ac, accumsan malesuada quam. Vestibulum cursus ut elit nec gravida. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                        Curae; In hac habitasse platea dictumst. Maecenas a dui dolor. Mauris dignissim ultrices bibendum. Morbi eros dui, mattis venenatis ultricies in, posuere sit amet risus. Aenean eros nisl, luctus a urna sed, imperdiet tristique lacus. Praesent
                        faucibus dictum lorem, ac malesuada mi pellentesque sit amet. Proin quis porta massa, et rhoncus orci. Fusce ipsum erat, varius nec arcu non, varius consequat dolor. Morbi semper non neque eu tempor. Morbi placerat metus a tortor finibus posuere.
                        Curabitur ullamcorper convallis rutrum. Vestibulum a turpis et ex porta mollis a gravida sapien. Morbi vel enim ac quam hendrerit commodo ac id ipsum. Phasellus vel libero quam. Duis enim arcu, ullamcorper ut fermentum ac, placerat at tortor.
                        Etiam posuere, velit pretium dapibus scelerisque, mi lorem hendrerit libero, ac volutpat sem libero eget nisl. Nulla suscipit, ipsum ut laoreet fringilla, orci nibh scelerisque ex, eu placerat lorem eros vel lorem. Sed egestas ullamcorper
                        libero ut vestibulum. Nullam semper hendrerit ultrices. Donec pellentesque eu mauris eu pellentesque. Fusce ut porttitor ante, id eleifend </p>
                </div>
            </div>
        </div>
        <div class="row md-4">

            <div id="whole-screen-bg-3">
                <div class="standart-container">
                    <p class='home-p'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam id, nulla, deleniti mollitia nisi illo, reprehenderit esse qui veritatis error repudiandae incidunt expedita. At adipisci deleniti id, deserunt odio molestias qui porro quasi accusantium voluptas, laboriosam cum? Iusto nobis porro deserunt vo Phasellus vel libero quam. Duis enim arcu, ullamcorper ut fermentum ac, placerat at tortor.
                        Etiam posuere, velit pretium dapibus scelerisque, mi lorem hendrerit libero, ac volutpat sem libero eget nisl. Nulla suscipit, ipsum ut laoreet fringilla</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
