{% extends "base.html" %}

{% block content %}
{% load tests_extras %}


<style>
.checked {
    color: orange;
}
</style>
	
	<div class="object" style="color: white;">
		<style type="text/css">
			.object {
  	 				background-image: url("/static/carsbg/images/object.jpg");
   					background-color: #cccccc;
   					background-size: 150%;
				 }
		</style>
		
	    <h2>{{ obj.name }}</h2>
	    <i class="fa fa-map-marker" aria-hidden="true" style="font-size: 150%; color: #a7414b; height: 50px;"></i>
	    {{ obj.city.name }}, {{ obj.address }}<br>
	    
	    <i class="fa fa-phone" style="font-size:20px; color: #a7414b; height: 50px;"></i>
	    {{ obj.tel }}<br>
	    
	    <i class="fa fa-star checked" style="font-size: 20px; height: 50px;"></i>
	    {{ rating }}<br>
</div>
		<!-- Тука ще има какво могат да правят в тоя обект -->
		{% if user.is_authenticated %}
		<div style="margin-top: 10%">
			<h3>Рейтинг</h3>

			<span class="fa fa-star checked" id="star1" onclick="stars(1, this)"></span>
			<span class="fa fa-star checked" id="star2" onclick="stars(2, this)"></span>
			<span class="fa fa-star checked" id="star3" onclick="stars(3, this)"></span>
			<span class="fa fa-star" id="star4" onclick="stars(4, this)"></span>
			<span class="fa fa-star" id="star5" onclick="stars(5, this)"></span>
			
			<form id = "addCommentForm" accept-charset="utf-8">
	  			<h3>Коментар</h3><br>
	  			<textarea rows="4" cols="50" type="text" name="comment"  id="comment" required/></textarea>
	  			<a id = "alert">{{ alert }}</a>


	  			<input type="hidden" name="rating" value="3" id="rating">

	  			<input type="hidden" name="user" value="{{ user.username }}" id="user">
	  			<input type="hidden" name="pk" value="{{ obj.pk }}" id="pk">
	  			<input type="hidden" name="name" value="{{ obj.name }}" id="name">
	    		<input type="hidden" name="address" value="{{ obj.address }}" id="address">
	    		<input type="hidden" name="tel" value="{{ obj.tel }}" id="tel">
	    		<input type="hidden" name="typeOfObject" value="{{ obj.typeOfObject }}" id="typeOfObject">
	    		<input type="hidden" name="city" value="{{ obj.city.name }}" id="city">
  				<input type="submit"  id="hiddenBtn" style="display: none">

	    	</form>
  			<button type="submit" class="btn btn-danger" id="addComment">Изпрати</button><br>
  		</div>
		{% else %}
  			<strong>Трябва да се регистрирате за да коментирате</strong>
		{% endif %}
		





		{% for i in comments %}
		<div style=" width: 40%; margin-top: 5%" >
			<div class="card">
			    <div class="card-body">
			        <div class="row">
		        	    <div class="col-md-2" >
		        	        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
		        	        <p class="text-secondary text-center">{{ i.date }}</p>
		        	    </div>
		        	    <div class="col-md-10">
	        	            <a class="float-left"  href="https://maniruzzaman-akash.blogspot.com/p/contact.html" ><strong>{{ i.user }}</strong></a>
		        	       

		        	       <div class="clearfix"></div>
		        	       <div id = "rate{{ forloop.counter }}">
		        	        </div>
		        	       <script>
									function commentsRate(num, id) 
									{
										var div = document.getElementById("rate" + id)
										for(var i = 1; i <= 5; i++)
										{
											var dateSpan = document.createElement('span')
											dateSpan.className = "float-right"
											if(i <= num)
											{
												dateSpan.className = "text-warning fa fa-star checked";
											}
											else
											{
												dateSpan.className = "text-warning fa fa-star"
											}
											div.appendChild(dateSpan)
										}
									}
									commentsRate('{{ i.rate }}', '{{ forloop.counter }}');
								</script>
		        	        <p>{{ i.text }}</p>
		        	        <p>
		        	            <!-- <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
		        	            <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a> -->
		        	       </p>
		        	    </div>

			        </div>
			    </div>
			</div>
		</div>
		{% endfor %}
				
		


{% endblock %}
