{% extends "base.html" %}

{% block content %}
{% load tests_extras %}


<style>
.checked {
    color: orange;
}
</style>
	
		<div class="object" style="color: white; height: 20rem">
			<style type="text/css">
				.object {
	  	 				background-image: url("/static/carsbg/images/object.jpg");
	   					background-color: #cccccc;
	   					background-size: 150%;
	   					margin-bottom: 10%;

					 }
			</style>
			
		    <h2>{{ obj.name }}</h2>
		    <i class="fa fa-map-marker" aria-hidden="true" style="font-size: 150%; color: #B80F0A; height: 50px;"></i>
		    {{ obj.city.name }}, {{ obj.address }}<br>

		    <i class="fa fa-phone" style="font-size:20px; color: #1034A6; height: 50px;"></i>
		    {{ obj.tel }}<br>
		    
		    <i class="fa fa-star checked" style="font-size: 20px; height: 50px;"></i>
		    {{ rating }}<br>
		    
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="card">
					  <div class="card-body">
					    <h5 class="card-title">Предлагани услуги</h5>
					    {% if services %}
					    <table class="table">
					    	<tr>
							{% for i in services %}
								
									<td>
										<img src="{{ i.icon.url }}" style="font-size: 130%; color: #a7414b; height: 1.5rem;">
										<a href="/displayService/{{ i.pk }}/">{{ i.name }}</a>
									</td>
								{% if forloop.counter|divisibleby:3 %}
									</tr>
									<tr>
								{% endif %}
								
								<!-- <img src="{{ i.image.url }}"> -->
							{% endfor %}
                    	</table>

						<h5 class="card-title" style="margin-top: 30px;">Информация за {{ obj.typeOfObject }}a</h5>
					    <p class="card-text">{{ obj.description }}</p>

					  </div>
					{% endif %}

				</div>
			</div>
			<div class="col-md-3">
				<div class="table-responsive-sm" style="">
                    <h5>Работно време</h5><br>
                    <table class="table">
                      <tr>
                        <td>Понеделник - Петък</td>
                        <td>{{ obj.workingTime.dayWork }}</td>
                        
                      </tr>
                      <tr>
                        <td>Събота</td>
                        <td>{{ obj.workingTime.saturday }}</td>
                      </tr>
                      <tr>
                        <td>Неделя</td>
                        <td>{{ obj.workingTime.sunday }}</td>
                      </tr>
                    </table>
                </div>
            </div>
		</div>
			
            
		
	


		<!-- Тука ще има какво могат да правят в тоя обект -->
		{% if user.is_authenticated %}
		<div style="margin-top: 4rem; margin-bottom: 4rem;">
			<h3>Рейтинг</h3>

			<span class="fa fa-star checked" id="star1" onclick="stars(1, this)"></span>
			<span class="fa fa-star checked" id="star2" onclick="stars(2, this)"></span>
			<span class="fa fa-star checked" id="star3" onclick="stars(3, this)"></span>
			<span class="fa fa-star" id="star4" onclick="stars(4, this)"></span>
			<span class="fa fa-star" id="star5" onclick="stars(5, this)"></span>
			
			<form id = "addCommentForm" accept-charset="utf-8">
	  			<h3>Коментар</h3><br>
	  			<textarea rows="4" cols="50" type="text" name="comment"  id="comment" required/></textarea><br>
	  			
	  			<a id="alert"></a>
				

	  			<input type="hidden" name="rating" value="3" id="rating">

	  			<input type="hidden" name="user" value="{{ user.username }}" id="user">
	  			<input type="hidden" name="pk" value="{{ obj.pk }}" id="pk">
	  			<input type="hidden" name="name" value="{{ obj.name }}" id="name">
	    		<input type="hidden" name="address" value="{{ obj.address }}" id="address">
	    		<input type="hidden" name="tel" value="{{ obj.tel }}" id="tel">
	    		<input type="hidden" name="typeOfObject" value="{{ obj.typeOfObject }}" id="typeOfObject">
	    		<input type="hidden" name="city" value="{{ obj.city.name }}" id="city">
  				<input type="submit"  id="hiddenBtn" style="display: none">

	    	</form>
  			<button type="submit" class="btn btn-danger" id="addComment">Изпрати</button><br>
  		</div>
		{% else %}
			<div class="alert alert-danger">
  				<strong>Трябва да се регистрирате за да коментирате</strong>
			</div>

		{% endif %}
		

		

		{% for i in comments %}
		<div style=" width: 50%; margin-top: 5%" >
			<div class="card">
			    <div class="card-body">
			        <div class="row">
		        	    <div class="col-md-2" style="width: 40%;">
		        	        <img src="{{ i.user.image.url }}" class="img img-rounded img-fluid"/>
		        	        <p class="text-secondary text-center">{{ i.date }}</p>
		        	    </div>
		        	    <div class="col-md-10">
	        	            <a class="float-left" style="color: #B80F0A" ><strong>{{ i.user.user }}</strong></a>
		        	       

		        	       <div class="clearfix"></div>
		        	       <div id = "rate{{ forloop.counter }}">
		        	       </div>
		        	       <script>
									function commentsRate(num, id) 
									{
										var div = document.getElementById("rate" + id)
										for(var i = 1; i <= 5; i++)
										{
											var dateSpan = document.createElement('span')
											dateSpan.className = "float-right"
											if(i <= num)
											{
												dateSpan.className = "text-warning fa fa-star checked";
											}
											else
											{
												dateSpan.className = "text-warning fa fa-star"
											}
											div.appendChild(dateSpan)
										}
							 		}
									commentsRate('{{ i.rate }}', '{{ forloop.counter }}');
								</script>
		        	        <p>{{ i.text }}</p>
		        	        <p>
		        	            <!-- <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
		        	            <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a> -->
		        	        </p>
		        	        {% if user  == i.user.user %}
 	  							<p><input type="submit" class="btn btn-danger" value="Изтрий" id="delete"></p>
	  						{% endif %}
		        	    </div>

			        </div>
			    </div>
			</div>
		</div>
		{% endfor %}
				
		


{% endblock %}
