{% extends "base.html" %}
{% block content %}
    {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'carsbg/css/carsbg.css' %}">
        <script src="/static/bootstrap/dist/js/BsMultiSelect.js"></script>
        <link rel="stylesheet" href="/static/bootstrap/dist/css/BsMultiSelect.css">
        
        <div class="form-container">
            <div class="section-title">Добавете обект</div>
            <ul>
                <form action=/addService/ method="post" enctype="multipart/form-data" accept-charset="utf-8" class="form-standart">
                    <!-- action is the url the form data is returned to-->
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Име на обекта" autocomplete="off" required/><br>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="city" id="city" placeholder="Град" autocomplete="off" required/><br>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="address" id="name" placeholder="Адрес" autocomplete="off" required/><br>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="tel" id="tel" placeholder="Телефон" autocomplete="off" required/><br>
                    </div>
                    <!-- <div class="form-group" >
                        <label for="img" class="custom-file-label">Снимка</label>
                        <input type="file" name="img" class="custom-file-input" id="img"><br>
                    
                    </div> -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Снимка</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="img" name="img" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Избери файл</label>
                        </div>
                    </div><br>
                    
                    <select name='type' class="custom-select" id='typeOfSearch' value='typeOfSearch'>
                        <option type='text' name="service"  id="service" value='service' />Сервиз</option>
                        <option type='text' name="cardealer"  id="cardealer" value='cardealer'>Автокъща</option>
                    </select><br><br>
                    Описание
                    <textarea rows="4" cols="50" type="text" name="description"  id="description" required/></textarea>
                    <a id = "alert"></a><br><br>
                    Предлагани услуги
                    <select name="multipleSelect" id="multipleSelect" class="form-control"   multiple="multiple" style="display: none;">
                        {% for i in services %}
                            <option type="text" name="serv" value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select><br>
                    Работно време
                   <div class="container">
                        <div class="row">
                            <div class="col">                                
                                Делник<br>
                                <input type="time" name="workdayStart">
                                <input type="time" name="workdayEnd">
                            </div>
                            <div class="col">
                                Уикенд<br>
                                <input type="time" name="saturdayStart">
                                <input type="time" name="saturdayEnd">
                            </div>
                        </div>
                    <style type="text/css">
                        .selectMultiple { margin: 150px auto; max-width: 350px; }
                    </style>
                    
                   
                 
                    
                    <div class="submit-container">
                            <input type="submit" href="/" value="ДОБАВИ" id="Create">
                    </div>
                    <script>$("#multipleSelect").bsMultiSelect();</script>
                </form>
            </ul>
        </div>


{% endblock %}
