{% extends "cars/base.html" %}

{% block content %}
{% load tests_extras %}


<style>
.checked {
    color: orange;
}
</style>

	<div class="object">
	    <p>Име: {{ obj.name }}</p>
	    <p>Адрес: {{ obj.address }}</p>
	    <p>Телефон: {{ obj.tel }}</p>
	    <p>Тип на обекта:{{ obj.typeOfObject }}</p>
	    <p>Град: {{ obj.city.name }}</p>
	    {% if obj.image.url %}
	    	<img src="{{ obj.image.url }}" width="240"></p>
	    {% endif %}
	    <p>Оценка: {{ rating }}</p>
	    
		<!-- Тука ще има какво могат да правят в тоя обект -->
		{% if user.is_authenticated %}
		<h2>Star Rating</h2>

		<span class="fa fa-star checked" id="star1" onclick="stars(1, this)"></span>
		<span class="fa fa-star checked" id="star2" onclick="stars(2, this)"></span>
		<span class="fa fa-star checked" id="star3" onclick="stars(3, this)"></span>
		<span class="fa fa-star" id="star4" onclick="stars(4, this)"></span>
		<span class="fa fa-star" id="star5" onclick="stars(5, this)"></span>

		<form action=/addComment/ method="post" accept-charset="utf-8">
  			<label for="comment">Напиши коментар:<br></label><textarea rows="4" cols="50" type="text" name="comment"  id="comment"/></textarea><br>
  			

  			<input type="hidden" name="rating" value="3" id="rating">

  			<input type="hidden" name="user" value="{{ user.username }}" id="user">
  			<input type="hidden" name="pk" value="{{ obj.pk }}" id="user">
  			<input type="hidden" name="typeOfObject" value="{{ obj.typeOfObject }}" id="typeOfObject">
  			<input type="hidden" name="name" value="{{ obj.name }}" id="tests">
    		<input type="hidden" name="address" value="{{ obj.address }}" id="tests">
    		<input type="hidden" name="tel" value="{{ obj.tel }}" id="tests">
    		<input type="hidden" name="typeOfObject" value="{{ obj.typeOfObject }}" id="tests">
    		<input type="hidden" name="city" value="{{ obj.city.name }}" id="tests">

  			<p><input type="submit" value="Изпрати" id="submit"></p>
  		</form>
  		{% else %}
  			<p> You must register to comment</p>
		{% endif %}

		{% for i in lenOfComments %}
			<div class="results">
				<p>{{ users|return_item:i }}: {{ comments|return_item:i }}</p>
			</div>
		{% endfor %}
    </div>


{% endblock %}
