{% extends "cars/header.html" %}

{% block content %}
    <nav id="nav">

    </nav>
    <ul>
        <a href="/"><button>Начална страница</button></a><br>
        <form action=/addService/ method="post" enctype="multipart/form-data" accept-charset="utf-8"> <!-- action is the url the form data is returned to-->
            {% csrf_token %}
            <label for="name"> Име на обекта:</label><input type="text" name="name"  id="name" autocomplete="off" /><br>
            <label for="city"> Град:</label><input type="text" name="city"  id="city" autocomplete="off" /><br>
            <label for="address"> Адрес:</label><input type="text" name="address"  id="name" autocomplete="off" /><br>
            <label for="tel"> Телефон:</label><input type="text" name="tel"  id="tel" autocomplete="off" /><br>
            <label for="img">Снимка</label><input type="file" name="img", id="img"><br>
            <select name='type' id='typeOfSearch' value=typeOfSearch'>
                <option type='text' name="service"  id="service" value='service' />Сервиз</option>
                <option type='text' name="cardealer"  id="cardealer" value='cardealer' />Автокъща</option>
            </select><br>
            <p><input type="submit" value="Create" id="Create"></p>
        </form>
    </ul>



{% endblock %}
