{% extends "base.html" %}
{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'carsbg/css/carsbg.css' %}">
    <div class="form-container">
        <ul>
            <form action=/login/ method="post" accept-charset="utf-8" class="form-standart">
              {% csrf_token %}
              {{ form.as_p }}
             <input type="submit" value="ВХОД">
        </ul>
        <p id="register-now-text">Нямате акаунт? <a href="/signup/">Регистрирайте се сега!</a></p>
    </div>

<style>
#main {
    display: grid;
    align-content: center;
    height: calc(100vh - 280px);
}

.form-container {
    width: 40%;
}
</style>
{% endblock %}
