{% extends "base.html" %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'carsbg/css/carsbg.css' %}">
    <div class="form-container">
        <div class="section-title">Регистрация</div>
        <ul>
            <!-- <form action="/login/" method="post" accept-charset="utf-8" class="form-standart">
              {% csrf_token %}
              <label for="id_username">Username</label><input id="id_username" name="username" type="text" class="form-control">
              <label for="id_password">Password</label><input id="id_password" name="password" type="password" class="form-control">

            <input type="submit" value="РЕГИСТРИРАНЕ"> -->
            <form action="/setImage/" method="post" id="setImage" autocomplete="off">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="img">Снимка</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="img" name="img" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Избери файл</label>
                    </div>
                </div>
                <input type="hidden"  id="user" name="user" value="{{ user.username }}">


                
                <input type="submit" value="Запази"/>
            </form>
        </ul>
    </div>
<style>
.form-container {
    width: 40%;
}

.form-container .section-title {
    background: #6A8A82;
}

 .form-standart input[type="submit"] {
    background: #6A8A82;
    border-bottom: 2px solid #346055;
 }

 .form-standart input[type="submit"]:hover {
     background: #4c756a;
 }
</style>
{% endblock %}
