{% extends "base.html" %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'carsbg/css/carsbg.css' %}">
    <div class="form-container">
        <div class="section-title">Регистрация</div>
        <ul>
            <form method="post" accept-charset="utf-8" class="form-standart">
              {% csrf_token %}
              {{ form.as_p }}
            <input type="submit" value="РЕГИСТРИРАНЕ">
            </form>
        </ul>
    </div>
<style>
.form-container {
    width: 40%;
}

.form-container .section-title {
    background: #6A8A82;
}

 .form-standart input[type="submit"] {
    background: #6A8A82;
    border-bottom: 2px solid #346055;
 }

 .form-standart input[type="submit"]:hover {
     background: #4c756a;
 }
</style>
{% endblock %}
