/*TODO: Make navbar a slightly move down on hover*/

* {
    margin: 0; 
    padding: 0;
}

body, html {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

#glyph{
    width: 25px;
}

#main {
    min-height: calc(100vh - 25vh - 56px);
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #c4c4c4;
}

.whitefont{
    color: white;
}

/*#navbar {
    width: 100%;
    height: 3em;
    position: fixed;
    overflow: hidden;
    background: #a3136e;
    opacity: 0,8;
    z-index: 8;
    /*so that it sticks to the front*/
/*}*/

/*#navbar a {
    float: right;
    padding: 1em 2em 1em 0;
    color: #f2f2f2;
    font-size: 1em;
}*/

/*#navbar a:hover {
    color: #c4c4c4;
}*/

/*#content {
    padding-top: 3em;
}
*/

.standart-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

#slogan {
    width: 80%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    font-size: 3.5em;
    text-align: center;
    letter-spacing: 0.08em;
    color: #fff;
    text-shadow:0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.wrap {
    width: 50%;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*.search-container {
    width: 100%;
    position: relative
}*/

/*.search-container input {
    float: left;
    width: 100%;
    border: 3px solid #474747;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: black;
}

.search-container button {
    position: absolute;
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid #474747;
    background: #474747;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}*/

::placeholder {
    color: grey;
    opacity: 0.7;
}

input:focus::placeholder {
    color: transparent;
}

input[type="glowinginwhite"]:focus {
    box-shadow: 0 0 15px white;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

#whole-screen-bg-1 {
    background-image: url('/static/images/bg-1.jpg');
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0;
}

#whole-screen-bg-2 {
    height: 100vh;
    background-color: #a7414a;
}

#whole-screen-bg-3 {
    height: 100vh;
    background-color: #6a8a82;
}

.home-p {
    line-height: 1.5em;
    font-size: 1.2em;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
}

#footer {
    overflow: hidden;
    height: 25vh;
    background: #050507;
    width: 100%;
}

#social-icons {
    text-align: center;
    padding-top: 3vh;
}

#social-icons img {
    width: 12vh;
    padding: 1%;
}

#copyrights p {
    color: #ffffff;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 0;
    font-size: 2vh;
}

.form-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background: #ffffff;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

.form-container .section-title {
    font-size: 140%;
    background: #a7414b;
    text-align: center;
    width: 100%;
    color: #FFF;
    padding-top: 15px;
    padding-bottom: 15px;
}

.form-standart {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.form-standart .form-group {
    padding-bottom: 20px;
}

.form-standart label {
    display: block;
}

.form-standart select {
    width: 100%;
}

.form-standart input[type="text"], .form-standart textarea, .form-standart input[type="password"]  {
    width: 100%;
    -webkit-transition: all 0.30s ease;
    -moz-transition: all 0.30s ease;
    -ms-transition: all 0.30s ease;
    -o-transition: all 0.30s ease;
    outline: none;
    box-sizing: border-box; /* Include padding and border in the element's total width and height*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    border: 1px solid #949494;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 100%;
}

.form-standart input[type="text"]:focus, .form-standart textarea:focus {
    box-shadow: 0 0 5px #000000;
    padding: 10px;
    border: 1px solid #000000;
 }

 .form-standart input[type="text"]:focus::placeholder, .form-standart textarea:focus::placeholder {
     color: transparent;
 }

.submit-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

 .form-standart input[type="submit"] {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 15px;
    border-bottom: 2px solid #5c0810;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #ffffff;
    background: #a7414b;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 100%;
    border-radius: 10px;
 }

 .form-standart input[type="submit"]:hover {
    background: #86222c;
    cursor: pointer;
 }



@media screen and (max-width: 800px) {
    .standart-container {
        margin: auto;
        width: 90%;
    }

    #slogan {
        padding-top: 115px;
        font-size: 2.5em;
        font-weight: 600;
        width: 90%;
    }

    .wrap {
        width: 80%;

    }

    .form-container {
        width: 90% !important;
    }

    .form-standart {
        width: 80% !important;
    }

    #social-icons img {
        width: 8vh;
        padding: 1%;
    }

    #copyrights p {
        color: #ffffff;
        text-align: center;
        padding-top: 2vh;
        padding-bottom: 0;
        font-size: 2vh;
    }
}

<style>.checked {
    color: orange;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
